* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    height: 100%;
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: #c0c0c0;
    /* background-image: url("https://media.discordapp.net/attachments/1038329663187062804/1114100934490992660/image.png"); */
    background-size: cover;
    background-repeat: no-repeat;
}

.topnav {
    position: absolute;
    width: 100%;
    background-color: #333;
    overflow-x: auto;
    display: flex;
    z-index: 1;
}

.topnav .kiri {
    width: 35%;
    display: flex;
    align-items: center;
}

.topnav .tengah {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topnav .kanan {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.topnav .kiri a {
    text-align: center;
    padding: 16px;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 20px;
}

.topnav .kiri #buat {
    background-color: #c0c0c0;
    color: #333;
}

.topnav p {
    font-size: 20px;
    text-align: center;
    padding: 16px;
    color:#f2f2f2;
}

.topnav .keluarBtn {
    padding: 16px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.topnav #keluar {
    background-color: #04AA6D;
    color: #f2f2f2;
}

.topnav #keluar:hover {
    background-color: #f2f2f2;
    color: #333;
}

section {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* overflow-x: hidden; */
}

.inputPost {
    position: relative;
    padding: 60px;
    background: rgba(10, 10, 10, 0.25);
    backdrop-filter: blur(15px);
    border: 1px solid #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    width: 750px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
}

.inputPost h2 {
    /* width: 100%; */
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 10px;
    background: none;
}

.inputPost .inputBox {
    background: none;
    position: relative;
}

.inputPost .inputBox input, textarea {
    background: #fff;
    position: relative;
    width: 100%;
    padding: 15px 20px;
    outline: none;
    font-size: 1.25em;
    color: #333;
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
}

.inputPost .inputBox #subjek2 {
    border: solid;
    border-color: red;
}

.inputPost .inputBox #subjek2:focus {
    border: none;
}

.inputPost .inputBox #subjek2:not(:placeholder-shown) {
    border: none;
}

.inputPost .inputBox #isi {
    height: 200px;
    resize: none;

}
.inputPost .inputBox #isi2 {
    height: 200px;
    resize: none;
    border: solid;
    border-color: red;
}

.inputPost .inputBox #isi2:focus {
    border: none;
}

.inputPost .inputBox #isi2:not(:placeholder-shown) {
    border: none;
}

.inputPost .inputBox #kirim {
    position: relative;
    width: 25%;
    left: 75%;
    background-color: #04AA6D;
    color: #f2f2f2;
    cursor: pointer;
}

.inputPost .inputBox #kirim:hover {
    background-color: #f2f2f2;
    color: #333;
}